* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, "Poppins",
    "https://fonts.google.com/specimen/Poppins";
}

main {
  overflow: hidden;
}

header {
  z-index: 9000;
  width: 100%;
  height: 70px;
  background: #ffffff;
  padding-top: 20px;
  position: fixed;
}

.logo {
  width: 100%;
}

.logo span {
  margin-left: 70%;
  color: hsl(0, 0%, 75%);
  font-size: 40px;
  position: relative;
  bottom: 20px;
}

.logo img {
  width: 70px;
  height: 20px;
  margin-left: 20px;
}

nav {
  width: 80%;
  height: 210px;
  background: hsl(257, 27%, 26%);
  border-radius: 10px;
  margin: auto;
  display: none;
  margin-top: 20px;
  padding-bottom: 300px;
  padding-top: 50px;
  font-size: 20px;
}

nav ul li {
  list-style: none;
  text-align: center;
  padding: 15px;
}
nav ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
hr {
  width: 80%;
  margin-left: 10%;
  padding: 0;
  text-align: center;
}

nav ul li button {
  background: none;
  color: hsl(0, 0%, 100%);
  border: none;
  outline: none;
  font-size: 20px;
}

nav ul li .signup {
  background-color: hsl(180, 66%, 49%);
  width: 90%;
  height: 40px;
  color: #fff;
  border: none;
  outline: none;
  font-size: 25px;
  border-radius: 50px;
}
.sub-header-img {
  width: 100%;
  height: 350px;
  background: url("images/illustration-working.svg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: left; */
  margin-top: 30%;
}

.sub-header-content {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  /* margin-left: 5%; */
}

.sub-header-content h3 {
  font-size: 2.6em;
}
.sub-header-content p {
  width: 100%;
  font-size: 20px;
  padding: 20px 4px 0 4px;
  color: hsl(0, 0%, 47%);
  margin: auto;
  line-height: 25px;
}

.sub-header-content button,
.boost button {
  color: hsl(0, 0%, 100%);
  background: hsl(180, 66%, 49%);
  width: 200px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 20%;
  margin-top: 5%;
}

.short-area {
  border-radius: 10px;
  background: url("images/bg-shorten-mobile.svg");
  width: 80%;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  background-color: hsl(255, 11%, 22%);
  margin: auto;
}

.short-area input,
.btn-short {
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  border: none;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}

.btn-short {
  background: hsl(180, 66%, 49%);
  margin-top: 10px;
  color: #fff;
}

.about {
  background: hsl(240, 4%, 90%);
  padding: 20% 10px 10px 10px;
  width: 100%;
  height: 1250px;
}

.about article {
  text-align: center;
}

.article1 {
  width: 100%;
  margin-top: 60px;
}

.about article h4 {
  font-size: 28px;
  margin-bottom: 20px;
}
.about article p {
  font-size: 18px;
  color: hsl(0, 0%, 47%);
  line-height: 25px;
}

.icon {
  width: 70px;
  height: 70px;
  background: hsl(255, 11%, 22%);
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
}

.brand {
  width: 90%;
  height: 250px;
  background: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding: 20% 10px 10px 10px;
  margin: auto;
}

.about article.brand h4 {
  font-size: 22px;
}

.brand > p {
  font-size: 10px;
  margin-top: -10px;
}

.research::after {
  width: 5px;
  height: 70px;
  background-color: hsl(180, 66%, 49%);
  content: "";
  position: absolute;
  margin-left: 47%;
}

.research:last-child::after {
  display: none;
}

.boost {
  width: 100%;
  height: 200px;
  background: url("images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-color: hsl(255, 11%, 22%);
  text-align: center;
  padding-top: 15%;
}

.boost p {
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
}

footer {
  background: hsl(255, 11%, 22%);
  color: #fff;
  width: 100%;
  text-align: center;
}

.footer-logo {
  padding: 20px;
  text-align: center;
}

.fetures ul li {
  font-size: 10px;
  padding: 5px;
  list-style: none;
}

.fetures p {
  font-weight: bold;
}

.footer-icon {
  padding: 10px 0 30px 0;
}

.footer-icon span {
  padding: 5px;
}
.footer-icon span img {
  width: 10px;
  height: 10px;
}

.getArea {
  height: 100px;
  width: 80%;
  position: relative;

  left: 10%;
  display: none;
}

.getArea input {
  width: 80%;
  height: 40%;
  margin-left: 10%;
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 18px;
}

.getArea button {
  width: 80%;
  height: 40%;
}

button:hover {
  cursor: pointer;
  background-color: hsl(180, 45%, 72%);
}

.attribution {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .sub-header-img {
    height: 500px;
  }
  .about {
    height: 1500px;
  }
  .research::after {
    margin-left: 48%;
  }
  .footer-logo {
    padding-top: 100px;
  }
}

/* Desktop Section  */
@media screen and (min-width: 769px) {
  nav {
    display: block;
    background: none;
  }

  nav ul li {
    display: inline;
  }
  nav ul li a {
    color: hsl(0, 0%, 61%);
    display: inline;
    font-weight: bold;
    position: relative;
    bottom: 110px;
    left: 10%;
  }

  hr {
    display: none;
  }
  nav ul li button {
    color: hsl(0, 0%, 61%);
    font-weight: bold;
  }
  nav ul li button,
  nav ul li .signup {
    display: inline-block;
    width: 150px;
    position: relative;
    bottom: 100px;
    left: 40%;
  }

  #hamburger {
    display: none;
  }
  .logo img {
    width: 100px;
    height: 30px;
    margin-left: 10%;
  }

  header {
    height: 80px;
  }
  .sub-header {
    display: grid;
    grid-template-areas: "c c i i";
    /* grid-row-gap: 0; */
  }

  .sub-header-img {
    width: 300%;
    grid-area: i;
    position: relative;
    right: 150%;
    /* top: 10%; */
  }

  .sub-header-content {
    width: 100%;
    grid-area: c;
    margin: 0;
    /* padding-left: 80px; */
    position: relative;
    left: 10%;
    top: 20%;
  }

  .sub-header-content p {
    width: 40%;
    bottom: 20px;
    text-align: left;
    margin: 0;
    /* font-size: 36px; */
    font-weight: bold;
    margin-top: -30px;
  }

  .sub-header-content h3 {
    font-size: 36px;
    width: 30%;
    text-align: left;
    margin-bottom: 20px;
  }

  .sub-header-content button {
    position: relative;
    right: 41%;
  }

  .short-area {
    background: url("images/bg-shorten-desktop.svg");
    background-color: hsl(257, 27%, 26%);
  }

  .short-area .btn-short {
    width: 20%;
    position: relative;
    left: 65%;
    bottom: 60px;
  }
  .short-area input {
    width: 60%;
    outline: none;
    font-size: 20px;
    padding-left: 30px;
  }

  .article1 {
    width: 100%;
    font-size: 36px;
    margin-top: -40px;
  }

  .article1 p {
    margin-top: -10px;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 5%;
  }

  .research-container {
    display: grid;
    grid-template-areas: "r1 r2 r3";
    min-width: 1100px;
  }
  .r1 {
    grid-area: r1;
    position: relative;
    left: 10%;
    margin: 0 10px 0 10px;
  }

  .r2 {
    grid-area: r2;
    position: relative;
    top: 20%;
  }

  .r3 {
    grid-area: r3;
    position: relative;
    top: 40%;
    right: 10%;
  }

  .brand {
    width: 80%;
  }

  .research::after {
    height: 8px;
    width: 500px;
    bottom: 70px;
    left: 186px;
  }
  .research:nth-child(2)::after {
    display: none;
  }

  .icon {
    margin: 0;
    margin-left: 20%;
  }
  .about {
    height: 950px;
  }

  .boost {
    width: 100%;
    height: 300px;
    background: url("images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(255, 11%, 22%);
    padding: 5% 0 0 0;
  }

  .boost p {
    font-size: 36px;
  }

  .boost button {
    width: 20%;
    height: 20%;
    font-size: 25px;
  }

  footer {
    display: grid;
    grid-template-areas: "fl f1 f2 f3 fi";
    padding-top: 5%;
  }

  .footer-logo {
    grid-area: fl;
    padding: 0;
  }
  .f1 {
    grid-area: f1;
  }
  .f2 {
    grid-area: f2;
  }
  .f3 {
    grid-area: f3;
  }
  .footer-icon {
    grid-area: fi;
  }
  .footer-icon span img {
    width: 25px;
    height: 25px;
  }
  .fetures ul li {
    font-size: 12px;
  }
  .getArea {
    position: relative;
    bottom: 20%;
    left: 10%;
  }

  .getArea button {
    width: 15%;
    height: 30%;
    position: relative;
    left: 64.5%;
    bottom: 45%;
  }
}
